.promo {
    width: 100%;
    height: 607px;
    background-color: $skyBlue;
    display: flex;
    column-gap: 181px;
}

.promo-content {
    display: flex;
    flex-direction: column;
    width: 555px;
    color: white;
    margin-left: auto;

    h2 {
        width: 223px;
        height: 51px;
        font-size: 36px;
        letter-spacing: -0.2px;
        font-weight: 700;
        margin-top: 151px;
    }

    p {
        width: 555px;
        height: 235px;
        font-size: 22px;
        margin-top: 75px;
        
        span {
            font-size: 24px;
            font-weight: 700;
        }
       
    }
}