#main_second_block_div {
    position: absolute;
    width: 100%;
    min-width: 1700px;
    min-height: 900px;
    background: #62D0DF;
    top: 900px;
}

#second_block_photo_div {
    position: absolute;
    overflow: hidden;
    width: 35%;
    height: 900px;
    right: 0px;
}

#second_block_photo {
    position: absolute;
    left: -50%;
}

#second_block_header {
    position: absolute;
    left: 8%;
    top: 30%;
    color: white;
    line-height: 27px;
    letter-spacing: -0.006em;
    font-size: 42px;
}

#second_block_text {
    position: absolute;
    font-size: 25px;
    color: white;
    line-height: 29.3px;
    left: 8%;
    top: 50%;
}