:root {
  --index: 20px;
  --sky-color: rgba(98, 208, 223, 1);
  --dark-blue: rgba(34, 53, 111, 1);
  --greetings-color: rgba(244, 249, 226, 1);
  --orange-color: rgba(249, 182, 64, 1);
  --gray-color: rgba(34, 53, 111, 0.5);
  --pink-color: rgba(255, 226, 222, 1);
  --green-color: rgba(196, 231, 105, 1);
  --blue-color: rgba(0, 82, 193, 1);
  --list-style-color: rgba(233, 183, 48, 1);
  --beige-color: rgba(222, 225, 255, 1);
  --violet-color: rgba(143, 0, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Instrument sans-serif;
  color: var(--dark-blue);
  font-size: 24px;
}

.bg-pink {
  background-color: var(--pink-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-sky {
  background-color: var(--sky-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-darkblue {
  background-color: var(--link-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

h1 {
  font-size: 48px;
  color: #22356f;
}

h2 {
  font-size: 36px;
  color: #ffffff;
}

body {
  width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: Instrument;
  src: url("../fonts/InstrumentSans-VariableFont_wdth,wght.ttf");
  font-style: normal;
  font-stretch: 100%;
  font-display: swap;
}

header {
  background: var(--greetings-color);
  border-bottom: 1px solid rgb(213, 220, 181);
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
}

//...................Начало стилизации блока Head.......................................

.head {
  display: flex;
  justify-content: space-around;
  height: calc(var(--index) * 2);
  margin: calc(var(--index) * 0.8) calc(var(--index) * 7);
}

.logo {
  justify-self: start;
  align-self: start;
}

.logo__main-logo {
  font-size: calc(var(--index) * 1.2);
  color: var(--sky-color);
}

.menu {
  justify-self: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
}

.menu-list__link {
  display: block;
  padding: calc(var(--index) * 0.4) calc(var(--index) * 0.8);
  text-decoration: none;
  font-size: calc(var(--index) * 0.6);
  color: var(--link-color);
  margin-right: calc(var(--index) * 0.3);
}

.menu-list__link:hover {
  border-bottom: 1px solid var(--link-color);
}

.menu-list li:nth-child(4) .menu-list__link {
  margin-right: 0;
}

.button {
  justify-self: end;
  border-radius: 50%;
}

.button__contact-us {
  display: block;
  padding: calc(var(--index) * 0.6) calc(var(--index) * 1);
  background-color: var(--sky-color);
  border-radius: calc(var(--index) * 1);
  color: white;
  text-decoration: none;
  font-size: calc(var(--index) * 0.6);
  font-weight: 600;
  white-space: nowrap;
}

.button__contact-us:hover {
  background-color: white;
  border: 1px solid var(--sky-color);
  color: var(--sky-color);
}

//....................Окончание стилизации блока Head..................................

//..................Начало стилизации блока Greetings..................................

.greetings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: calc(var(--index) * 10);
  width: 100%;
  background: linear-gradient(90deg, var(--greetings-color) 80%, white 20%);
  padding: calc(var(--index) * 9) calc(var(--index) * 7) calc(var(--index) * 3);

  .photo-container {
    position: relative;
    width: 808px;
    height: 545px;
    transform: rotate(325deg);
    z-index: 5;
    border-radius: 312px;
    overflow: hidden;

    img {
      position: absolute;
      top: -50%;
      left: -60%;
      transform: rotate(35deg);
    }
  }
}

.description {
  display: grid;
  row-gap: calc(var(--index) * 1);
}

.second-logo {
  margin-bottom: calc(var(--index) * 0.5);
}

.second-logo__logo {
  font-size: calc(var(--index) * 1.2);
  color: var(--sky-color);
}

.helping-you {
  margin-bottom: calc(var(--index) * 1);
}

.helping-you__text {
  font-size: calc(var(--index) * 1.95);
  color: var(--link-color);
  font-weight: 700;
  letter-spacing: -0.035em;
}

.our-therapists {
  margin-bottom: calc(var(--index) * 0.5);
}

.our-therapists__text {
  font-size: calc(var(--index) * 1);
  line-height: calc(var(--index) * 1.8);
  color: var(--link-color);
}

.buttons {
  display: flex;
}

.buttons__button {
  display: block;
  padding: calc(var(--index) * 0.8) calc(var(--index) * 1.5);
  margin-right: calc(var(--index) * 1);
  font-size: calc(var(--index) * 0.7);
  font-weight: 700;
  text-decoration: none;
  color: var(--orange-color);
  white-space: nowrap;
}

.buttons__button:hover {
  background-color: var(--orange-color);
  color: white;
}

//................Окончание стилизации блока Greetings..................................

//............... Начало стилизации блока WhyThrive.....................................

.why-thrive {
  width: 100%;
  background-color: var(--sky-color);
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  column-gap: calc(var(--index) * 9);
  padding-left: calc(var(--index) * 7);
}

.why-thrive-description {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: calc(var(--index) * 5.8);
}

.why-thrive-header {
  margin-bottom: calc(var(--index) * 3);
}

.why-thrive-header__header {
  font-size: calc(var(--index) * 1.5);
  color: white;
  font-weight: 900;
}

.why-thrive-content {
  margin-bottom: calc(var(--index) * 4);
}

.why-thrive-content__content {
  font-size: calc(var(--index) * 1);
  color: white;
}

.why-thrive-content__content__size__size-up {
  font-size: calc(var(--index) * 1.2);
  font-weight: 900;
}

.why-thrive-photo {
  background-image: url("/img/02.png");
  background-size: cover;
  min-width: calc(var(--index) * 19);
  min-height: auto;
}

//................Окончание стилизации блока WhyThrive..................................

//................Начало стилизации блока About.........................................

.about {
  display: grid;
  grid-template-columns: 0.8fr 1fr 0.8fr;
  margin: calc(var(--index) * 5) calc(var(--index) * 4) calc(var(--index) * 1.2);
}

.about-us__header {
  font-size: calc(var(--index) * 0.7);
  font-weight: 300;
  color: var(--link-color);
}

.about-us-content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: calc(var(--index) * 4);
}

.we-want-help__content {
  font-size: calc(var(--index) * 0.9);
  font-weight: 400;
  color: var(--link-color);
}

.we-can-help {
  justify-self: center;
}

.we-can-help__content {
  font-size: calc(var(--index) * 0.6);
  color: var(--gray-color);
}

//................Окончание стилизации блока About.....................................

//................Начало стилизации блока Kinds of Sport...............................

.kinds-of-sport {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.kinds-of-sport-block {
  font-size: calc(var(--index) * 1);
  color: white;
  font-weight: 600;
  padding: calc(var(--index) * 3.5) 15% calc(var(--index) * 7);
}

.kinds-of-sport-block__content {
  display: flex;
  padding: calc(var(--index) * 1) calc(var(--index) * 1.5)
    calc(var(--index) * 1) 0;
  border-top: 1px solid white;
}

.dot-label::before {
  content: "";
  display: inline-block;
  height: calc(var(--index) * 0.4);
  width: calc(var(--index) * 0.4);
  border-radius: 50%;
  background-color: var(--list-style-color);
  margin-right: calc(var(--index) * 1);
  margin-top: calc(var(--index) * 0.35);
}

//..........................Окончание стилизации блока Kinds of sport....................

//........................Начало стилизации блока Health.................................

.health__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  div {
    font-size: calc(var(--index) * 1.3);
    font-weight: 700;
    color: white;
    padding: calc(var(--index) * 3.5) 15% calc(var(--index) * 12);
  }

  p {
    display: flex;
    padding: calc(var(--index) * 1.5) calc(var(--index) * 1.5)
      calc(var(--index) * 1) 0;
    border-top: 1px solid white;

    ::before {
      content: "";
      display: inline-block;
      height: calc(var(--index) * 0.4);
      width: calc(var(--index) * 0.4);
      border-radius: 50%;
      background-color: var(--list-style-color);
      margin-right: calc(var(--index) * 1);
      margin-top: calc(var(--index) * 0.6);
    }
  }
}

.health__back-image {
  background-image: url("/img/03.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.save-health-methods {
  display: grid;
  grid-template-columns: 1fr;
}

.save-health-methods__header {
  margin: calc(var(--index) * 3) calc(var(--index) * 5) 0;
  color: var(--link-color);
  font-weight: 200;
  font-size: calc(var(--index) * 1.2);
  letter-spacing: calc(var(--index) * -0.01);
}

.save-health-methods__content {
  margin: calc(var(--index) * 2) calc(var(--index) * 5) calc(var(--index) * 3);
  color: var(--gray-color);
  font-size: calc(var(--index) * 0.7);
}

.save-health-methods__header__fixed-margin {
  margin-top: calc(var(--index) * 0.7);
}

//.......................Окончание стилизации блока Health...............................

//.......................Начало стилизации блока Also know...............................

.also-know {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.also-know__photo {
  background-image: url("/img/04.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.also-know__content {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr;
}

.also-know__content__header {
  font-size: calc(var(--index) * 0.7);
  color: var(--link-color);
  margin: calc(var(--index) * 4.5) 0 calc(var(--index) * 10)
    calc(var(--index) * 5);
}

.also-know__content__content {
  font-size: calc(var(--index) * 1.5);
  margin: 0 calc(var(--index) * 10) calc(var(--index) * 11.5)
    calc(var(--index) * 5);
  color: var(--link-color);
  font-weight: 600;
}

.also-know__content__button {
  display: block;
  width: calc(var(--index) * 7);
  text-align: center;
  padding: calc(var(--index) * 0.8) 0;
  margin: 0 0 calc(var(--index) * 2) calc(var(--index) * 5);
  text-decoration: none;
  font-size: calc(var(--index) * 0.7);
  color: var(--orange-color);
  font-weight: 700;
}

.also-know-content__button:hover {
  color: white;
  background-color: var(--orange-color);
}

//...................Окончание стилизации блока Also Know..............................

//....................Начало стилизации блока Contact Us...............................

.contact-us {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-us-content {
  grid-column: span 2;
  background-color: var(--link-color);
}

.contact-us-content__header {
  font-size: calc(var(--index) * 0.7);
  color: white;
  margin: calc(var(--index) * 4.5) 0 calc(var(--index) * 10)
    calc(var(--index) * 7);
}

.contact-us-content__ready-set-smile {
  font-size: calc(var(--index) * 2.5);
  margin: 0 calc(var(--index) * 10) calc(var(--index) * 3)
    calc(var(--index) * 7);
  color: white;
  font-weight: 600;
}

.contact-us-content__content {
  font-size: calc(var(--index) * 1.4);
  margin: 0 calc(var(--index) * 13) calc(var(--index) * 4)
    calc(var(--index) * 7);
  color: white;
  font-weight: 100;
  line-height: calc(var(--index) * 2.7);
}

.contact-us-content__button {
  display: block;
  width: calc(var(--index) * 7);
  text-align: center;
  padding: calc(var(--index) * 0.8) 0;
  margin: 0 0 calc(var(--index) * 2) calc(var(--index) * 7);
  text-decoration: none;
  font-size: calc(var(--index) * 0.7);
  color: var(--sky-color);
  font-weight: 700;
}

.contact-us-content__button:hover {
  color: var(--link-color);
  background-color: var(--sky-color);
}

.contact-us-photo {
  background-image: url("/img/05.png");
  background-size: cover;
  background-repeat: no-repeat;
}

//....................Окончание стилизации блока Contact Us.............................

//....................Начало стилизации футера..........................................

.page-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
}

.page-footer-photo {
  background-image: url("/img/06.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.copyright {
  padding: calc(var(--index) * 1) 0 calc(var(--index) * 1)
    calc(var(--index) * 4);
  background-color: var(--sky-color);
  color: white;
  font-size: calc(var(--index) * 0.55);
  font-weight: 500;
}

//....................Окончание стилизации футера........................................
